
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}


<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>EĞİTiMLERİMİZ</h2>
                    <span>Birbirinden faydalı sporlarımızla karşınızdayız.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/yoga.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">YOGA</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/fitness.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">FİTNESS</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/pilates.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">PİLATES</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        


    </div>
</div>

