
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>ŞUBELERİMİZ</h2>
                    <span>Biz gittikçe büyüyen kocaman bir aileyiz.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/AYDIN.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">AYDIN</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/BURSA.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">BURSA</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/İSTANBUL.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">İSTANBUL</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

